/* Body */

body {
    font-family: 'Archivo', sans-serif;
    color: #1D1616;
    margin: 0 auto;
    background-color: #EEE;
}

/* Font */

h1, 
h2,
h3 {
    font-family: "Rubik", sans-serif;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
}

.logo {
    width: 15%;
    margin-top: 12px;
}

ul {
    display: flex;
}

li {
    margin-right: 30px;
    font-family: 'Archivo', sans-serif;
    font-size: .8rem;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.myWork {
    margin-right: 0;
}

.backgroundImage {
    width: 100%;
    height: 350px;
    background-image: url("../img/_DSF3262-edited.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    font-size: 2rem;
    font-weight: bold;
    padding: 500px 0 0 700px;
    color: #FFF;
}

.activePage {
    border: 1px solid black;
    border-radius: 2px;
}


.photos {
    max-height: 9600px;
    max-width: 85rem;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    object-fit: contain;
}

.photos img {
    width: 32.5%;
    margin: 0 0 10px 10px;
    transition: transform 0.5s 
}

.photos img:hover {
    transform: scale(1.01);
    opacity: .9;
    cursor: pointer;
}

.about {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.aboutLeft {
    width: 40%;
}

.aboutRight {
    width: 40%;
}

h1 {
    margin-bottom: 40px;
    font-size: 2rem;
}

.aboutParagraph {
    width: 85%;
    margin-bottom: 50px;
    line-height: 1.5;
}

.profilePhoto {
    width: 100%;
    margin-top: 75px;
}

.aboutButton,
.skillsButton {
    background-color: #D84040;
    color: #EEEEEE;
    font-size: 1rem;
    padding: 15px;
    border: none;
    border-radius: 3px;
}


/* Skills section  */

.skills {
    background-color: #fff;
    text-align: center;
    height: 960px;
}


.how {
    font-size: 2rem;
    padding: 80px 0 40px 0;
}

.skillsPicture {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    margin: 0 auto;
    width: 80%;
    height: 700px;
    background-image: url("../img/_DSF6636-edited-2.jpg");
    background-size: cover; 
    position: relative;   
}

.skillsPicture::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.skillsPicture button,
.skillsPicture h2, 
.skillsPicture p {
    position: relative;
}

.leftScroll, 
.rightScroll {
    background-color: transparent;
    color: #FFF;
    font-size: 2rem;
    border: 2px solid #FFF;
    border-radius: 50%;
    padding: 4px 15px 10px 15px;
    align-self: center;
}

.leftScroll {
    margin-left: 40px;
}

.rightScroll {
    margin-right: 40px;
}

.scrollText {
    color: #FFF;
    align-self: center;
}

.scrollH2 {
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: 190px;
}

.scrollP {
    margin-bottom: 25px;
}

.skillsButton {
    margin-top: 110px;
}

.testimonials {
    display: flex;
    justify-content: space-between;
    margin: 0 0 80px 10%;
    max-width: 80%;
}

.testimonialsHeader {
    font-size: 2rem;
    margin:  80px 0 40px 10%;
}

.first,
.second {
    width: 50%;
    line-height: 1.5;
}

.second {
    margin-left: 10%;
}

.testImage {
    width: 100%;
    margin: 0 0 30px 0;
}

.testP {
    margin-bottom: 15px;
    font-size: .9rem;
}

/* Blog Gallery */

.blogGallery {
    width: 100%;
    display: flex;
    overflow-x: scroll;
}

.blogGallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    flex: none;
}

.blogGallery div img {
    width: 90%;
    filter: grayscale(20%);
    transition: transform 0.5s ;
}

.blogGallery::-webkit-scrollbar {
    display: none;
}

#backButton,
#nextButton {
    width: 50px;
    cursor: pointer;
}

#backButton {
    margin: 0 40px 0 10%;
}

#nextButton {
    margin: 0 10% 0 0;
}

.blogGalleryWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
    background-color: #FFF;
}

.blogGallery div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.02);
}

